@media (max-width: 319px) {
  .personimg {
    right: -29%;
    height: 47%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .personimg {
    right: -24%;
    height: 55%;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .personimg {
    right: -24%;
    height: 55%;
  }
}
@media (min-width: 425px) and (max-width: 550px) {
  .personimg {
    right: -17%;
    height: 57%;
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  .personimg {
    right: 3%;
    height: 62%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .personimg {
    right: 2%;
    height: 68%;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .personimg {
    right: 2%;
    height: 85%;
  }
}
@media (min-width: 1240px) and (max-width: 1439px) {
  .personimg {
    right: 6%;
    height: 91%;
  }
}
@media (min-width: 1440px) and (max-width: 1600px) {
  .personimg {
    right: 8%;
    height: 91%;
  }
}
@media (min-width: 1601px) and (max-width: 2560px) {
  .personimg {
    right: 19%;
    height: 92%;
  }
}
